version: "3.9"

networks:
  spire-net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.54.0/24
          gateway: 192.168.54.1

services:
  spire1:
    image: spire-img
    container_name: aster1
    environment:
      - MY_HOSTNAME=aster1
    networks:
      spire-net:
        ipv4_address: 192.168.54.10
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire2:
    image: spire-img
    container_name: aster2
    environment:
      - MY_HOSTNAME=aster2
    networks:
      spire-net:
        ipv4_address: 192.168.54.11
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire3:
    image: spire-img
    container_name: aster3
    environment:
      - MY_HOSTNAME=aster3
    networks:
      spire-net:
        ipv4_address: 192.168.54.12
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire4:
    image: spire-img
    container_name: aster4
    environment:
      - MY_HOSTNAME=aster4
    networks:
      spire-net:
        ipv4_address: 192.168.54.13
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire5:
    image: spire-img
    container_name: aster5
    environment:
      - MY_HOSTNAME=aster5
    networks:
      spire-net:
        ipv4_address: 192.168.54.14
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire6:
    image: spire-img
    container_name: aster6
    environment:
      - MY_HOSTNAME=aster6
    networks:
      spire-net:
        ipv4_address: 192.168.54.15
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire7:
    image: spire-img
    container_name: aster7
    environment:
      - MY_HOSTNAME=aster7
    networks:
      spire-net:
        ipv4_address: 192.168.54.16
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire8:
    image: spire-img
    container_name: aster8
    environment:
      - MY_HOSTNAME=aster8
    networks:
      spire-net:
        ipv4_address: 192.168.54.17
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire9:
    image: spire-img
    container_name: aster9
    environment:
      - MY_HOSTNAME=aster9
    networks:
      spire-net:
        ipv4_address: 192.168.54.18
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire10:
    image: spire-img
    container_name: aster10
    environment:
      - MY_HOSTNAME=aster10
    networks:
      spire-net:
        ipv4_address: 192.168.54.19
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire11:
    image: spire-img
    container_name: aster11
    environment:
      - MY_HOSTNAME=aster11
    networks:
      spire-net:
        ipv4_address: 192.168.54.20
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire12:
    image: spire-img
    container_name: aster12
    environment:
      - MY_HOSTNAME=aster12
    networks:
      spire-net:
        ipv4_address: 192.168.54.21
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire13:
    image: spire-img
    container_name: aster13
    environment:
      - MY_HOSTNAME=aster13
    networks:
      spire-net:
        ipv4_address: 192.168.54.22
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire14:
    image: spire-img
    container_name: aster14
    environment:
      - MY_HOSTNAME=aster14
    networks:
      spire-net:
        ipv4_address: 192.168.54.23
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire15:
    image: spire-img
    container_name: aster15
    environment:
      - MY_HOSTNAME=aster15
    networks:
      spire-net:
        ipv4_address: 192.168.54.24
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire16:
    image: spire-img
    container_name: aster16
    environment:
      - MY_HOSTNAME=aster16
    networks:
      spire-net:
        ipv4_address: 192.168.54.25
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire17:
    image: spire-img
    container_name: aster17
    environment:
      - MY_HOSTNAME=aster17
    networks:
      spire-net:
        ipv4_address: 192.168.54.26
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire18:
    image: spire-img
    container_name: aster18
    environment:
      - MY_HOSTNAME=aster18
    networks:
      spire-net:
        ipv4_address: 192.168.54.27
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire19:
    image: spire-img
    container_name: aster19
    environment:
      - MY_HOSTNAME=aster19
    networks:
      spire-net:
        ipv4_address: 192.168.54.28
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true

  spire20:
    image: spire-img
    container_name: aster20
    environment:
      - MY_HOSTNAME=aster20
    networks:
      spire-net:
        ipv4_address: 192.168.54.29
    cap_add:
      - NET_ADMIN
    tty: true
    stdin_open: true
